<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>The dj set at <%= @djset.club %></h1>
    <p>
      the <%= @djset.start %>.<br>
    </p>
    <p>For<%= @djset.artist.name %></p>
    <p>
    need to be confirm on this link <%= @url %>.
    </p>
    <p>Thanks for your time and have a great day!</p>
  </body>
</html>
