<!-- The mailer do not detect template who are not in the view/djsets folder-->

<div class="all">
  <div class="new-djset" style="margin-top:10%;margin-left:10%;width:80%;">
    <p>acknowledge_receipt</p>
    <p>Your request has been well send</p>
    <p>It will be treated in the shortest time, you will be informed when it will be done</p>
    <p>Until there you can check the status of your request <%= link_to 'here', @link_to_djset_artist%></p>
  </div>
</div>
