<div class="main-title">
  <h1>Releases</h1>
</div>

<div class="title-row">
  <div class="title-name">
    <h2>Name</h2>
  </div>
  <div class="title-name">
    <h2>Artist</h2>
  </div>
  <div class="title-name">
    <h2>Year</h2>
  </div>
</div>

<div class="the-content">

<% for realrelease in @realreleases %>
<div class="release-content">
  <div class="release-column">
    <p><%= link_to realrelease.name.upcase, realrelease %></p>
  </div>
  <div class="release-column">
    <p><%= realrelease.artist.name %></p>
  </div>
  <div class="release-column">
    <p>  <%= realrelease.year %> </p>
  </div>
</div>
<% end %>
</div>
