<h1>Releases</h1>



<div class="artist">

<div class="index-artist">
  <% for realrelease in @realreleases %>
  <div class="name-artist">
    <%= link_to realrelease.name, realrelease %>
  artist :    <%= realrelease.artist.name %>
  </div>
    Track list :
    <% for track in realrelease.tracks %>
 <%= track.name %> |

                             <% end %>
                             <% end %>
</div>

</div>
