<div class="edit-realrelease-title">
  <div class="title-name">
    <h2>tracks</h2>
  </div>
  <% for track in @tracks %>

  <div class="small-column">
    <p><%=  track.name %></p>
  </div>

  <% end %>
</div>
