<tr id="tr-column" >
  <td class="td-row absolute2"><p><%= link_to artist.name.upcase, artist, id:"td-artist-name" %></p></td>
  <td class="td-row round"><%  if artist.image.attached?  %>
  <%= image_tag artist.image, style:('width:100%;height:auto;'),class:'background-artist-image' %>
  <% else %>
  <% end %>

  </td>
  <%-# commented line -%>

  <!-- Reveal using custom parameters. -->
</tr>
