<div class="container-edit">
  <div class="carreblanc">
    <div class="form">
      <%= form_for @artist do |f| %>
        <div class="row-edit">
          <p>Name</p>
          <p>
          <%= f.text_field :name %><br>
          </p>
        </div>
      <%= f.submit %>
    </div>
    <% end %>
  </div>
</div>
