<div class="artist-content ">
  <div class="new-link">
    <div class="ajax-add-new-artist">
      <%= link_to new_artist_path, id:'ajax-add-new-artist', remote: true do %>
      <div class="small-row">

      <p ><%= image_tag "add2.png", :style => "width:80%;margin-top:-4px;" %></p><p id="ajax-add-new-artist" > ADD NEW ARTIST</p>
    </div>
      <%end%>
    </div>
  </div>
  <div class="artist-list-content">
    <table id="artists">
      <tbody>
      <%= render partial: 'artist', collection: @artists %>
      </tbody>
    </table>
  </div>
</div>
<div id="app-container">
</div>
<%= javascript_pack_tag 'application2' %>
