<%=flash[:notice]%>
<% if user_signed_in? %>
<div class="new-artist">
  <div class="text-new-artist">
    <%= link_to 'ADD NEW ARTIST', new_artist_path%>
    <% else %>
    <% end %>
  </div>
</div>
<div class="artist">


  <div class="index-artist">
    <% for artist in @artists %>
    <div class="name-artist">
      <%= link_to artist.name, artist %>
    </div>RELEASE :
      <% for realrelease in artist.realreleases %>
                               <%= link_to realrelease.name, realrelease%> |
                               <% end %>
                               <% end %>
  </div>
</div>
