<%=flash[:notice]%>
<div class="new-artist">
  <div class="text-new-artist">
      <%= link_to 'ADD NEW ARTIST', new_artist_path%>
    
  </div>
</div>

<div class="index-artist column line-title">
    <% for artist in @artists %>
    <div class="double_line">
      <%= link_to artist.name, artist, class: "artist-name" %>
    </div>
    <% end %>
</div>
