<%=flash[:notice]%>
<div class="artist-content ">
  <div class="new-link">
    <div class="ajax-add-new-artist">
      <%= link_to 'ADD NEW ARTIST', new_artist_path, id:'ajax-add-new-artist', remote: true%>
    </div>
  </div>
  <div class="new-artist">
    <p>CREW</p>
  </div>
  <div class="artist-list-content">
    <table id="artists">
      <thead>
        <tr>

        </tr>
      </thead>

      <tbody>
      <%= render partial: 'artist', collection: @artists %>
      </tbody>
    </table>

</div>

</div>
