<div class="form">
  <tr class="elementofcontent">
  <td class="element"><%= @artist.name %></td>


      <td class="element"><%= link_to 'Edit', edit_artist_path(@artist) %></td>
      <td class="element"><%= link_to 'Delete', artist_path(@artist), method: :delete, data: { confirm: 'Are you sure to delete this release ?' } %></td>
    </tr>

</div>
