<h1>New article</h1>
<%= form_for @article do |f| %>
  <p>
    Title: <%= f.text_field :title %>
  </p>
    <p>
      Content: <%= f.text_field :content %>

    </p>
  <p>
    <%= f.submit 'Create Article' %>
  </p>
<% end %>
