<div class="form-import-csv-events">

  <%= form_tag import_events_path, multipart: true, remote:true do%>
  <div class="just-row">
    <p>Choose your event : </p>
    <div id="submit-column">
      <div class="just-row"><p><%= file_field_tag :file %></p></div>
      <div class="just-row pink">
      <p class="save-button"><%= image_submit_tag("add.png", width:"35px") %></p>
      <p style="font-size:12px;">Ajouter le fichier CSV</p>
      </div>
    </div>
  </div>
  <%end%>
</div>
