.nav {
  width:100%;
  display: flex;
  flex-direction: row;
  position: fixed;
}
.menu {
  position: fixed;
  width: 100%;
  max-width: 100%;
  font-family: 'CothamSans';
  display: flex;
  background-color: white;
  letter-spacing: 6px;
  overflow: hidden;
  display: flex;
  flex-direction: row;
}
.menu p {
  margin-left: -10px;
}
.part-menu {
  min-width:75px;
}
.message {
  width:50px;
  height:50px;
  border-radius: 50%;
  transition:0.3s;
  &:hover {
  background-color:#efefef;
  border-radius: 50%;
  box-shadow: 6px 6px 1px #dce8d3;
  }

}
.message-icon {}
