.stick-right {
  position: fixed;
  background-color: transparent;
  top: 150px;
  right:20px;
  width:10px;
  height: 400px;
}
.stick-right p {
  writing-mode: vertical-rl;
  text-orientation: mixed;
  font-size: 24px;
  background-color: transparent;
  color:pink;
  text-shadow: 1px 1px 2px red, 0 0 1em blue, 0 0 0.2em blue;


}
