.nav {
  width:100%;
  display: flex;
  flex-direction: row;
  position: fixed;

}
.menu {
  position: fixed;
  width: 100%;
  max-width: 100%;
  font-family: 'CothamSans';
  letter-spacing: 6px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height:50px;
  overflow: visible;
  background-color: #e8dfce;
  box-shadow: 0px 4px 15px white;
}
.menu p {
  margin-top: 1%;
  margin-left: -10px;
}
.left-side {
max-width: 50%;
display: flex;
flex-direction: row;

}
.right-side {
width:20%;
display: flex;
flex-direction: row;
white-space: nowrap;
}
.part-menu {
  max-width:75%;
  margin-top: -10px;
}

.menu-link {
  color:#7c786f!important;
  &:hover {
    text-decoration: underline;
  }
}
.message {
  margin-top: 5px;
  margin-left: -10px;
  max-height: 50px;
  max-width: 30px!important;
  transition:0.3s;
  &:hover {
    transform: scale(0.9);
  }
}
// Link to djsets index if admin
.number-of-request {
  position: relative;
  z-index: 100;
  min-width:8px;
  max-width: 13px;
  height: 12px;
  background-color: red;
  padding: 3px;
  display: flex;
  border-radius: 5px;
  justify-content: center;
  align-items: flex-end;
  margin-left: 8px;
  margin-top: 5px;
  border:  black solid 0.2px;
}
.bell {
  margin-top: -10px;
}
.number-of-request p {

  margin-left: 2%;
  line-height: 10px;
  color: white;
  font-size: 9px!important;
  font-weight: bold;
}
.z-index10-red{
  white-space: nowrap!important;

  z-index: 10;
}
.request {
  margin-top: -2px;
}
// end link djsets index if admin
.logo-sd {
  top:40px;
  left:40px;
  transition: 0.3s;
  overflow: visible;
  &:hover {
    transform: scale(0.9);
  }
}
// facebook if not signed in
.signup-with {
  position: relative;

  top:-4px;
}
.facebook-auth {
  position: relative;
  top:-12px;
}
.fb-link {
  margin-top:15px;
}
