/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 html, body {
   height: 100%;
   overflow-x: hidden;
   scroll-behavior: smooth;
 }
 .full-height {
   height: 100%;
   width: 100%;
 }
 a {
   text-decoration: none;
   color:black;
 }
 body {
 height: 100%;
 width: 100%;
 font-family: 'Inconsolata', monospace!important;
 font-size: 20px!important;
 background-image: image-url("SD02.jpg");
 background-repeat: no-repeat;
 background-attachment: fixed;
 background-size: 90% 90%;
 background-position: center;
 background-size: cover;
 }
 .mynavbar {
   margin-left:40px;
   margin-right:40px;
   text-decoration: none;
   margin-top: 40px;
   width: 40%;
   z-index: 1;
 }
 .navright {
   width: 50%;
    margin-top: 40px;
 }
 .SD1 {
   margin-bottom: 5px;
 }
 .SD2  {
   margin-bottom: 5px;
   color: transparent;
 }
 .SD1:hover {
   text-transform: uppercase;
   color: rgb(0,0,0);
 }
 .first-line {
   display: flex;
   flex-direction: column;
   width: 100%;
   height: 20px;
 }
 .double-nav {
   display: flex;
   flex-direction: row;
 }
 .email {
   display: flex;
   justify-content: flex-end;
 }
 #blink {
   z-index: 1;
  -webkit-animation: blink 1s step-end infinite;
          animation: blink 1s step-end infinite;
}
@-webkit-keyframes blink {
    0% {opacity:1;}
    50% {opacity:0;}
    100% {opacity:1;}
}
