// Place all the styles related to the Articles controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.articles {
  display: flex;
  flex-direction: column;
  width: 60%;
  margin-left: 6%;
  padding: 2%;

}
.articles h1 {
  font-weight: normal;
  font-size: 56px;
  font-family: 'CothamSans';
}
.articles p {
  font-size: 20px;
    line-height: 35px;
    margin-top: 10vh;
    word-spacing: 1px;
    letter-spacing: 1px;
    font-family: 'CothamSans';
}
.article-uniq {
  margin-top: 50px;
  border-bottom: black solid 1px;
}
.field {
  border: black 1px solid;
  border-radius: 4px;
  height: 50px;
  font-size: 20px;
  font-family: 'CothamSans';

}
.field-content {
  border: black 1px solid;
  border-radius: 4px;
  width: 100%;
  height: 50px;
  font-size: 20px;
  font-family: 'CothamSans';

}
.submit {
  border: black 1px solid;
  border-radius: 4px;
  background-color: transparent;
}
.litle-row {
  display: flex;
  flex-direction: row;
}

@media only screen and (max-width:500px) {
.articles p {
  font-family: 'Minipax-Regular';
font-size: 20px;
  line-height: 35px;
  margin-top: 10vh;
  word-spacing: 1px;
  letter-spacing: 1px;
}
.articles {
  margin-right: 20%;
  width: 75%;
}
.articles h1 {
  font-size: 36px;
  font-family: 'CothamSans';
}
.article-uniq {
  margin-bottom: 10vh;
}



#edit-and-show {
  width: 25%;
  border-right: gray solid 0.5px;
  padding-left: 3%;
  margin-left: 2%;
  &:hover {
    text-decoration: underline;
  }
}
#bin {
  width: 25%;
  margin-left: 5%;
  &:hover {
    text-decoration: underline;
  }
}
#date {
  font-size: 12px;
  font-style: italic;
}
#new-one {
  width: 50%;
  word-break: keep-all;
  font-size: 12px;
  &:hover {
    text-decoration: underline;
  }
}

.line {
  border-bottom: gray solid 1px;
}

  .articles {
    display: flex;
    flex-direction: column;
    width: 84%;
    margin-left: 5%;
    padding: 3%;
  }
}
