.artist-content {
  width: 100%;
}
.artist {
  background-color: white;
  border-left: solid 5px;
  border-top: solid 0.5px;
  border-right: solid 0.5px;
  border-bottom: solid 0.5px black;
  border-radius: 8px;
  padding: 50px;
  margin: 50px;
  width:25%;
}

.new-artist {
  border: solid black 2px;
  border-radius: 5px;
  box-shadow: black 4px;
  background-color: rgb(216,191,216);
  height: 100px;
  width: 80%;
  margin: 10%;
  display: flex;
  justify-content: center;
  align-items: center;
  &:hover {
    background-color: rgb(230,230,250);
  }
  &:focus {
    background-color: pink;
  }
}
.artist-list-content {
  padding: 10%;

  width:60%;
  margin-left: 10%;
  border: black solid 2px;
  border-radius: 12px;
  background-color: pink;
}
.text-new-artist {
  display: flex;
  justify-content: center;
  align-items: center;
  &:hover {
    animation: blinker 0.05s linear infinite;
  }
}
.text-new-artist p {
  font-family: 'Steps-Mono-Thin';
}
@keyframes blinker {
  50% {
    opacity: 0;
  }
}
.index_artist {
font-family: 'Russo One', sans-serif!important;
}
.name-artist {
  padding: 20px;
  color: rgb(72,61,139);
  font-family: 'Life Savers', cursive;
}
.line-title {
  background-color: black;
}
.add-release {
  text-shadow: 1px 2px grey;
  &:hover{
    color: white;
    text-shadow: 1px 2px red;
  }
}
.white-line {
  background-color: white
}
.button-add-release {
  border: solid 1px rgb(221,160,221);
  border-radius: 15px;
  background-color:rgb(148,0,211);
  width: 190px;
}
.button-delete-release {
  border: solid 1px rgb(255,0,0);
  border-radius: 15px;
  background-color: black;
  width: 190px;
  &:hover {
    background-color: rgb(220,20,60);
  }
}
.add-style {
  color: white;
}
.delete-artist {
    color: red!important;
    &:hover {
      color: white!important;
      text-shadow: 2px 3px black;
    }
}
.color-white-wait {
  color:white;
}
.release-name-wait{
  display:flex;
  flex-direction: row;
  justify-content: space-between;
  color: black;
  padding: 5px;
  &:hover{
    border: solid 1px black;
    border-radius: 5px;
    background-color: rgb(170,130,150);
  }
}
.artist-name-wait {
  color: black;
  &:hover {
    text-shadow: black 2px 2px;
    color:pink;
  }
}

.artist-list {
  margin-bottom: 5%;
  width:80%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}
.transition1 {
  width: 100%;
  border-right: rgba(123, 123, 64, 0) dashed 12px;
  margin-left: 13px;
  padding: 6px;
  transition: width 2s ease-out;
  &:hover {
    width:70%;
    border-right: rgba(234, 123, 64, 1) solid 12px;
  }
}
.artist-list p {
  font-family: 'Steps-Mono-Thin';
  font-size: 16px;
  margin-left: 10px;
  margin-bottom: 12px;

}
.arrow-right {
  width:15%;

}
.icon-arrow {
  display: flex;
  flex-direction: column;
  background-color: red;
}
@media only screen and (min-width:500px) {
    .transition1 {
      margin-left: 8%;
    }
    .new-artist {
      width: 60%;
      margin-left: 20%;
      margin-bottom: 5%;
    }
    .artist-list-content {
      margin-left:20%;
      padding: 10%;
      width: 40%;
    }
    .artist-list p {
      font-size: 24px;
    }
}
@media only screen and (min-width:1000px) {
    .transition1 {
      margin-left: 8%;
    }
    .new-artist {
      width: 50%;
      margin-left: 25%;
      margin-bottom: 5%;
    }
    .artist-list-content {
      margin-left:25%;
      padding: 10%;
      width: 30%;
    }
    .artist-list p {
      font-size: 24px;
    }
}
