.just-row {
  display:flex;
  flex-direction: row;
}
.just-row p {
  font-size: 20px;
  font-family: 'CothamSans';

}
.small-margin-bottom {
  margin-bottom: 3%;
}
.info {
  font-family: 'CothamSans';
  color: red;
  font-weight: bold;
}
.info p {
  font-family: 'CothamSans'!important;
  color: red;
}
.nicebutton {
  border: solid grey 1.5px;
  border-radius: 3px;
  color: grey;
  width:120px;
  height: 40px;
  background-color: rgb(230,230,230);
  &:hover {
    border: solid grey 0px;
    color:white;
    background-color: green;
    box-shadow: 1px 1px 2px grey;
    text-decoration: underline white;
  }
}
.cell {
  border-bottom: grey solid 1px;
  border-radius: 5px;
  margin-bottom: 5%;
}

.notice {
}
