.just-row {
  display:flex;
  flex-direction: row;
}
.just-row p {
  font-size: 20px;
  font-family: 'CothamSans';

}
.small-margin-bottom {
  margin-bottom: 3%;
}
.info {
  font-family: 'CothamSans';
  color: #ceb992  ;
  //font-weight: bold;
  //text-shadow: 1px 1px 0px black;
}
.nicebutton {
  display: flex;
  justify-content: center;
  align-items: center;
  border: solid grey 1.5px;
  border-radius: 3px;
  color: grey;
  width:120px;
  height: 40px;
  background-color: white;
  transition: 0.3s;
  &:hover {
    color: white;
    background-color:#ceb992;
    border: solid #c5ddca 0.5px;
    cursor: pointer;
    //text-shadow: 1px 1px 0px black,  -0.5px 0 0 black, 0 0.5px 0 black, 0 -0.5px 0 black;
  }
}
.box-shadow2{
  transition:0.2s;
  &:hover {
  box-shadow: 1.5px 1.5px 1.5px #c5ddca;
  }
}
.cell {
  border-bottom: grey solid 1px;
  border-radius: 0px;
  margin-bottom: 5%;
}

.notice {
  position:fixed;
  margin-left:0px;
  left:0px;
  height:200px;
  width:10%;
  margin-top:75px;
  color:green;
  font-family: 'CothamSans'!important;
  font-size: 16px;
  letter-spacing: 2px;
  word-spacing: 8px;
  line-height:24px;
}
#alert {
  position:fixed;
  margin-left:0px;
  left:0px;
  height:200px;
  width:10%;
  margin-top:75px;
  color:red;
  font-family: 'CothamSans'!important;
  font-size: 16px;
  letter-spacing: 2px;
  word-spacing: 8px;
  line-height:24px;
}

@keyframes changewidth {
  from {
    transform: scale(1);
  }

  to {
    transform: scale(0.7);
  }
}

.newpng {
  animation-duration: 0.5s;
  animation-name: changewidth;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}
// NEW

.new-djset {
  z-index: 1000;
  display: flex;
  justify-content: center;
}
.new-djset h1 {
  z-index: 1000;
  color:white;
  font-size: 32px;

}
.new-djset p {
  z-index: 1000;

  display: flex;
  justify-content: center;
  color:white;
  font-size: 16px;
}
.text-field-club {


  border: #554e60 solid 0.5px;
  padding: 10px;
  width:200px;
  color:#7c786f;
}
.text-field-collection {
  border: #554e60 solid 0.5px;
  padding: 10px;
  width:220px;
  color:#7c786f;
  background-color: white;

}
.text-field-book {
  border: #554e60 solid 0.5px;
  padding: 10px;
  width:220px;
  color:white;
  background-color: black;
  transition:0.2s;
  &:hover {
    background-color: #e8dfce;
    color:black;

  }
}
.all {
  background-image:url('stars.jpg');
background-size: cover; /* or contain depending on what you want */
background-position: center center;
background-repeat: no-repeat;
text-align:center;
margin:auto;
padding:0;
background-color:black;
margin-top: -100px;
width:100%;
height:100%;}

// END NEW
