// Place all the styles related to the Events controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.table {
  margin-top: 5vh;
  width:100%;
  padding: 5%;


}
.content, .table {
  display: flex;
  flex-direction: row;
}
.content {

}
.elementoftitle, .elementofcontent {
  display: flex;
  flex-direction: column;
}
.elementofcontent {
  border-right: black solid 1px;
  padding-right: 5%;
  margin-right: 5%;
  min-width: 180px;
}
.content {
  overflow-x: scroll;
}
.element-title {
  margin-bottom: 20px;;
  height:30px;;
  overflow-y: hidden;
  display: flex;
  justify-content: space-between;
}
.elementoftitle p {
  font-family: 'Steps-Mono';
    font-size: 14px;
}
.element {
  margin-bottom:20px;
  font-size: 18px;
  height: 30px;
  display: flex;
  justify-content: center;
      white-space: nowrap;
}
.scroll-x {
  overflow-x: scroll;
  overflow-y: hidden;
}
.add-event {
  margin-top: 5vh;
  display: flex;
  flex-direction: row;
  padding: 10px;
  line-break: auto;
}
#submit-column {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
#submit-column p {
  margin-bottom: 20px;
}

.delete-event-icon {
  width: 1vh;
  height: auto;
}
.calendar {
  margin-right: 70px;
  overflow: scroll;
}
// Show
.data {
  color :#bddbb3;
  font-weight:bold;
}
.event-show {
  margin-left: 10%;
  margin-top: 70px;
}
.just-row2 {
  width: 80%;
  display: flex;
  justify-content: space-between;
  border-bottom: grey solid 0.5px;

}
.event-show .just-row {
  margin-bottom: 2%;
}
.event-show h1 {
  margin-bottom: 2%;
  font-family: 'CothamSans';
}
.event-show .just-row p {
  margin-right: 5%;
}
// end Show
// Index part
.calcul {
  font-size:110%;
  font-weight: bold;

  color:#0155c1;
}
.negativ {
  font-size:110%;
  font-weight: bold;
  color:#ea0d09;
}
.positiv {
  font-size:110%;
  font-weight: bold;
  color:#6ddd35;
}
// end Index
