// Place all the styles related to the Events controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.table {
  margin-top: 5vh;
  width:100%;
  padding: 5%;


}
.content, .table {
  display: flex;
  flex-direction: row;
}
.content {

}
.elementoftitle, .elementofcontent {
  display: flex;
  flex-direction: column;
}
.elementofcontent {
  border: black solid 1px;
  margin-right: 35px;
  min-width: 180px;
}
.content {
  overflow-x: scroll;
}
.element-title {
  margin-bottom: 20px;;
  height:30px;;
  overflow-y: hidden;
  display: flex;
  justify-content: space-between;
}
.elementoftitle p {
  font-family: 'Steps-Mono';
    font-size: 14px;
}
.element {
  margin-bottom:20px;
  font-size: 18px;
  height: 30px;
  overflow: hidden;
}
.add-event {
  margin-top: 5vh;
  display: flex;
  flex-direction: row;
  padding: 10px;
  line-break: auto;
}
#submit-column {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
#submit-column p {
  margin-bottom: 20px;
}
#icone-in-table {
  display: flex;
  justify-content: center;
}
.delete-event-icon {
  width: 1vh;
  height: auto;
}
