// Place all the styles related to the Home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#head {
  background-image: image-url("darkness02.jpg")!important;
  margin-top: 40px;
 /* Full height */

 /* Center and scale the image nicely */
 background-position: center;
 background-repeat: no-repeat;
 background-size: cover;
 opacity:0.6;
}
#head2 {
 /* Full height */
 height: 100%;
 /* Center and scale the image nicely */
 background-position: center;
 background-repeat: no-repeat;
 background-size: cover;
 opacity:0.6;
}

#entre-image{
  height:390px;
}
/*.textphoto .photo{
  max-height: 80px;
  max-width: 80px;
  background-color: red;
}*/




.top-space {
  background-image: image-url("SD01.jpg")!important;
  width: 100%;
}


.tarace {
  height: 400px;
  margin-bottom: 0px;
}
.footer2 {
  position: sticky;
  margin-bottom: 0px;
}
.mynavbar {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-left:40px;
  margin-right:40px;
  text-decoration: none;
  margin-top: 40px;
  height: 100px;
  z-index: 1;
}
.SD1 {
  margin-bottom: 5px;
}
.SD1:hover {
  text-transform: uppercase;
}
html {
  scroll-behavior: smooth;
}
a {
  color:black;
}
a:hover {
  text-decoration: none;
  color: white;
}
