// Place all the styles related to the Home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#head {
  background-image: image-url("darkness02.jpg")!important;
  margin-top: 40px;
 /* Full height */

 /* Center and scale the image nicely */
 background-position: center;
 background-repeat: no-repeat;
 background-size: cover;
 opacity:0.6;
}
#head2 {
 /* Full height */
 height: 100%;
 /* Center and scale the image nicely */
 background-position: center;
 background-repeat: no-repeat;
 background-size: cover;
 opacity:0.6;
}

#entre-image{
  height:390px;
}

.tarace {
  height: 400px;
  margin-bottom: 0px;
}
.footer2 {
  position: sticky;
  margin-bottom: 0px;
}
