// Place all the styles related to the Home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#head {
  width:100%;

  background-image: image-url("darkness02.jpg") !important;
  margin-top: 50%;
 /* Full height */

 /* Center and scale the image nicely */
 margin:0;
padding:0;
 background-position: center;
 background-repeat: no-repeat;
 background-size: cover;
 -webkit-background-size: cover; /* pour anciens Chrome et Safari */
 opacity:0.65;
}
#head:hover {
  opacity:0.4;
}
#head2 {
 /* Full height */
 height: 100%;
 /* Center and scale the image nicely */
 background-position: center;
 background-repeat: no-repeat;
 background-size: cover;
 opacity:0.6;
}
#head2:hover {
  opacity:0.85;
}

#entre-image{
  height:50%;
}

.tarace {
  height: 400px;
  margin-bottom: 0px;
}
.footer2 {
  position: sticky;
  margin-bottom: 0px;
}
.prout {
  z-index: 1;
  position: -webkit-sticky; /* Safari */
  position: sticky;
  top: 8px;
  display: flex;
  justify-content: flex-end;
  padding-bottom: 0px;
  width:50px;
  height:50px;
}
.prout:hover{


  transition-duration: 3s;
  transform:rotateY(720deg);
}
