.main-title {
  width: 100%;
  display: flex;
  justify-content: center
}
.main-title h1 {
  font-family: 'Sofachrome', sans-serif;
  font-size: 38px;
}
.title-row {
  width: 100%;
  display: flex;
  flex-direction: row;
}
.title-name {
  width: 30%;
  margin: 1.66%;
  display: flex;
  justify-content: center;
}
.title-name h2 {
  font-family: 'Sofachrome', sans-serif;
  font-size: 18px;
}
.release-content {
  width: 100%;
  display: flex;
  flex-direction: row;
}
.release-content p {
  font-family: 'Life Savers', sans-serif;
  font-size: 32px;

}
.release-column {
  width: 30%;
  max-width:30%;
  margin: 1.66%;
  display: flex;
  flex-direction: column;
  word-wrap: break-word;
}
.release-column p {
  display: flex;
  justify-content: center
}

@media screen and (max-width:500px) {
  .main-title h1 {
    font-size: 24px;
  }
  .title-name h2 {
    font-size: 8px;
  }
  .release-content p {
    font-family: 'Darker Grotesque', sans-serif;
    color:#4a9e9a;
    font-size: 12px;
  }

}
