
.main-title {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 40px;
  margin-bottom: 50px;
}
.main-title h1 {
  font-family: 'Steps-Mono';
  text-decoration: line-through;
  font-size: 40px;
}
.title-row {
  width: 100%;
  display: flex;
  flex-direction: row;
  margin-bottom: 10px;
}
.title-name {
  width: 30%;
  margin: 1.66%;
  display: flex;
  justify-content: center;
}
.title-name h2 {
  font-family: 'Steps-Mono';
  font-size: 32px;
}
.release-content {
  width: 100%;
  display: flex;
  flex-direction: row;
}
.release-content p {
  font-family: 'Steps-Mono';
  font-size: 18px;

}

.release-column {
  width: 30%;
  max-width:30%;
  margin: 1.66%;
  display: flex;
  flex-direction: column;
  word-wrap: break-word;
}
.release-column p {
  display: flex;
  justify-content: center;
  font-family: 'Steps-Mono';
}

@media screen and (max-width:500px) {
  .main-title h1 {
    font-size: 24px;
  }
  .title-name h2 {
    font-size: 18px;
  }
  .release-content p {

    font-size: 12px;
  }

}

@media screen and (max-width:1000px) {

}
