

<footer>

<div class="row-footer">

  <p><%= link_to 'Home', root_path %></p>
  <p><%= link_to 'Contact Us', new_contact_path, class:"color-light-grey" %></p>
  <p> Made by Jonathan Mete</p>

</div>

</footer>
