<nav>

<div class="mynavbar">

  <div class="left-nav SD">

    <div class="SD1">
      <p>Release</p>
    </div>
    <div class="SD1">
      <p><%= link_to "SD", events_path %></p>
    </div>
    <div class="SD1">
    <p>Events</p>
    </div>
    <div class="SD1">
    <p>Book</p>
    </div>
  </div>

</div>

</nav>
