<nav class="mynavbar">
  <div>
    <div>
      <div class="SD1">
        <p class="SD1"></p><br>
      </div>
      <div  class="SD1  isDisabled" id="blink">
        <%= image_tag("rectangle.png")%>
      </div>
    </div>
    <div class="SD1">
      <p class="SD1"><a href="/events">Desk</a></p>
    </div>
    <div >
        <p class="SD1">Booking</p>
    </div>
    <div >
        <p class="SD1">Events</p>
    </div>
  </div>
</nav>
